In [1]:
import os
import re
import sys
import pandas as pd
sys.path.insert(0, './_modules')
from db_functions import TheDB
#from logging_module import getlogger
from logging_module_v2 import StartLogger
from regex_module import FindEmail, FindNumbersBraket, FindLawsuit, FindCaseId

In [2]:
## bots BD connections
conn_dict = {'host':'localhost', 'database': 'brspcqadev',
             'user':'root', 'password':'quito2020'}

cqdb = TheDB(conn_dict)

In [3]:
data_path = os.path.join(os.getcwd(), '_data_output')

In [4]:
os.listdir(data_path)

['tmail_data_clean_bigrams_cluster_3_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_22_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_12_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_9_2020-04-01.csv',
 'mail_data_clean_bigrams.csv',
 'tmail_data_clean_bigrams_cluster_16_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_4_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_9_2020-03-10.csv',
 'tmail_data_clean_bigrams_cluster_18_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_15_2020-04-05.csv',
 'tmail_data_clean_bigrams_cluster_9_2020-03-04.csv',
 'tmail_data_clean_bigrams_cluster_20_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_9_2020-03-26.csv',
 'tmail_data_clean_bigrams_cluster_8_2020-03-04.csv',
 'MainTrix_BoletosAds.csv',
 'mail_data_clean_bigrams_optimalcluster.csv',
 'tmail_data_clean_bigrams_cluster_2_2020-03-01.csv',
 'mail_data_clean_bigrams_optimalcluster_2020-04-01.csv',
 'tmail_data_clean_bigrams_cluster_8_2020-03-01.csv',
 'oficios_google_clean.csv',
 'mail_data_clean_bigrams_optimalcluster_2020-06-06.csv',
 'mail_data_clean_bigrams_optimalcluster_2020-04-05.csv',
 'tmail_data_clean_bigrams_cluster_15_2020-04-01.csv',
 'controle_linhas_clean.csv',
 'tmail_data_clean_bigrams_cluster_10_2020-03-11.csv',
 'tmail_data_clean_bigrams_cluster_10_2020-03-04.csv',
 'tmail_data_clean_bigrams_cluster_23_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_24_2020-03-01.csv',
 'mail_data_clean.csv',
 'mail_data_clean_bigrams_optimalcluster_2020-03-26.csv',
 'mail_data_clean_bigrams_cluster.csv',
 'tmail_data_clean_bigrams_cluster_15_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_7_2020-03-06.csv',
 'tmail_data_clean_bigrams_cluster_5_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_10_2020-06-06.csv',
 'tmail_data_clean_bigrams_cluster_13_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_14_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_9_2020-03-11.csv',
 'tmail_data_clean_bigrams_cluster_21_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_19_2020-03-01.csv',
 'MainTrix_Segmentation.csv',
 'main_trix_clean.csv',
 'MainTrix_Writs.csv',
 'tmail_data_clean_bigrams_cluster_10_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_9_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_6_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_8_2020-03-11.csv',
 'tmail_data_clean_bigrams_cluster_7_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_11_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_8_2020-03-03.csv',
 'mail_data_clean_bigrams_optimalcluster_2020-03-11.csv',
 'tmail_data_clean_bigrams_cluster_17_2020-03-01.csv',
 'tmail_data_clean_bigrams_cluster_10_2020-03-06.csv']

In [22]:
df = pd.read_csv(os.path.join(data_path, 'main_trix_clean.csv'), sep = '\t')
print(df.columns)
df = df.rename(columns = {'Case # (DLBCA and Google reference)':'case_id',\
                     'line':'line_id', 'Lawsuit Number':'external_ref_number', 'Deadline':'deadline'})
df = df.loc[:, ['line_id', 'case_id', 'external_ref_number', 'deadline']]
df['external_ref_number'] = df['external_ref_number'].apply(FindLawsuit)
df['case_id'] = df['case_id'].apply(FindCaseId)

Index(['line', 'Case # (DLBCA and Google reference)', 'UID',
       'Date of the Court Orders', 'Court', 'same court', 'Lawsuit Number',
       'CP?', 'Summary of the request/what to produce [internal team rec]',
       'STQ confirm scope of production', 'Deadline',
       'DLBCA's suggested answer', 'Previous Orders and Answers',
       'Google's proposed answer', 'LIS: \nInformatin about case',
       'LIS: \nPolicy and content check',
       'LIS: \nGoogle Inc answer sent to authority? which one?',
       'LIS:\nPriority', 'LIS:\nAssignee', 'Status',
       'Status - writ of mandamus', 'Law Firm'],
      dtype='object')

In [17]:
df

     line_id          case_id        external_ref_number             deadline
0          1                    0009460-19.2013.403.6181  2014-02-28 00:00:00
1          2  6-9080000028545   0002618-91.2011.403.6181  2013-11-28 00:00:00
2          3  9-5821000001559   0007067-24.2013.403.6181  2013-10-22 00:00:00
3          4  5-6191000002205                             2013-11-22 00:00:00
4          5  9-9709000000828   0076690-72.2011.805.0001  2013-10-21 00:00:00
...      ...              ...                        ...                  ...
7614    7740  7-9812000028504  5075998-22.2019.4.04.7000  2019-12-24 00:00:00
7615    7741  6-8938000029130  0330591-87.2019.8.05.0001  2019-12-30 00:00:00
7616    7742  0-5628000028599      505-23.2019.4.01.3601  2020-01-03 00:00:00
7617    7743  0-5628000028599      505-23.2019.4.01.3601  2020-12-24 00:00:00
7618    7745  6-1183000028591  0000457-61.2019.8.17.1410  2019-12-23 00:00:00

[7619 rows x 4 columns]

In [25]:
## input some date, since those fields are manadatory
df['date_received'] = '2020-08-12'
df['date_received_cq'] = '2020-08-12'

In [40]:
df['line_id'].str.isdigit()

0       True
1       True
2       True
3       True
4       True
        ...
7614    True
7615    True
7616    True
7617    True
7618    True
Name: line_id, Length: 7619, dtype: object

In [45]:
df = df[df['line_id'].str.isdigit() == True]
df['line_id'] = df['line_id'].astype(int)

In [60]:
df_db_trix = cqdb.GetTable('Trix')
df_db_trix

,line_id,case_id,external_ref_number,deadline,date_received,date_received_cq
0,35,,0009460-19.2013.403.6181,2014-02-28 00:00:00,2020-08-12,2020-08-12
1,36,6-9080000028545,0002618-91.2011.403.6181,2013-11-28 00:00:00,2020-08-12,2020-08-12
2,37,9-5821000001559,0007067-24.2013.403.6181,2013-10-22 00:00:00,2020-08-12,2020-08-12
3,38,5-6191000002205,,2013-11-22 00:00:00,2020-08-12,2020-08-12
4,39,9-9709000000828,0076690-72.2011.805.0001,2013-10-21 00:00:00,2020-08-12,2020-08-12
5,40,,0137528-90.2013.8.20.0001,2014-01-07 00:00:00,2020-08-12,2020-08-12
6,41,7-2587000000237,31820-28.2012.4.01.3500,2013-11-26 00:00:00,2020-08-12,2020-08-12
7,42,1-9094000002174,0001129-37.2012.8.20.0115,2013-11-27 00:00:00,2020-08-12,2020-08-12
8,43,6-3783000002820,12509-97.2013.811.0042,2014-03-05 00:00:00,2020-08-12,2020-08-12
9,44,3-4834000002843,5028182-54.2013.404.7000,2014-02-13 00:00:00,2020-08-12,2020-08-12
10,1,6-5526000027768,0000904-07.2019.8.17.0260,2020-06-29 21:03:12,0001-01-01 00:00:00,0001-01-01 00:00:00
11,2,6-3568000028259,0000457-52.2019.815.0461,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
12,3,8-3413000029888,5001783-17.2019.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
13,4,None,0000.234.999999,2020-02-12 00:00:00,2020-02-12 00:00:00,2020-02-12 00:00:00
14,5,0-9150000028251,TESTE 8 TESTE 8,0001-01-01 00:00:00,2020-06-07 00:00:00,0001-01-01 00:00:00
15,6,1-0673000027027,None,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
16,7,2-1862000028129,0004339-33.2019.8.26.0132,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-10-02 00:00:00
17,8,0-5710000029462,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-03-02 00:00:00
18,9,5-9393000028198,0010340-10.2014.8.26.0229,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
19,10,9-8948000030560,0051550-38.2019.8.19.0204,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-09-07 00:00:00
20,11,1-7881000030520,5038080-52.2017.4.04.7000,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-10-07 00:00:00
21,12,1-0852000030331,1000092-11.2020.4.01.4101,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-10 00:00:00
22,13,1-9233000030375,5003714-94.2019.4.03.6110,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-15 12:13:40
23,14,8-3068000030498,2306-90.2020.811.0055,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-16 00:00:00
24,15,1234,1234,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
25,16,12345,12345,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
26,17,7-2997000030648,5001970-34.2020.8.24.0024,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-17 00:00:00
27,18,7-0019000030664,593-92.2020.8.10.0060,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00
28,19,5-0605000031064,1734-45.2020.8.17.1130,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00
29,20,3-0966000030718,0001174-18.2020.8.22.0014,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
30,21,1-3390000030436,1502135-23.2020.8.26.0320,2020-11-08 00:00:00,2020-11-08 00:00:00,0001-01-01 00:00:00
31,22,8-7942000030479,1500234-11.2020.8.26.0614,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 21:43:53
32,23,7-2681000030980,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00
33,24,3-5757000030570,5001548-16.2020.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00
34,25,0-2618000030415,0811407-22.2020.4.05.8300,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-31 11:52:39
35,26,5-8286000030700,0000441-55.2020.8.04.5801,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
36,27,2-4486000030845,1503609-26.2020.8.26.0224,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-02 16:03:37
37,28,123456,123456,2020-08-11 00:00:00,2020-08-11 00:00:00,2020-08-11 00:00:00
38,29,4-4742000030569,0002169-22.2020.8.21.0026,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-11-08 00:00:00
39,30,8-3066000030637,0004636-64.2018.827.2713,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 20:46:22
40,31,3-3725000030286,None,0001-01-01 00:00:00,2020-11-08 00:00:00,2020-11-08 00:00:00
41,32,None,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-19 10:37:03
42,33,None,1011778-37.2018.4.01.3400,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-02-19 14:59:58
43,34,5-4295000030626,1502382-75.2020.8.26.0361,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 22:08:33

In [46]:
df['line_id'] = df['line_id'].astype(int) + df_db_trix['line_id'].max()

In [54]:
df = df.drop_duplicates(subset = ['line_id'])

In [49]:
cqdb.TablesDataType('Trix')

                                  0            1    2    3     4 5
0                           line_id      int(11)   NO  PRI  None
1                           case_id     longtext  YES       None
2                     date_received  datetime(6)   NO       None
3                  date_received_cq  datetime(6)   NO       None
4                    auth_last_name     longtext  YES       None
5               external_ref_number     longtext  YES       None
6                         info_case     longtext  YES       None
7                      case_country     longtext  YES       None
8                    email_response     longtext  YES       None
9                          deadline     datetime  YES       None
10                           status     longtext  YES       None
11                          targets     longtext  YES       None
12                             lers     longtext  YES       None
13                            label      int(11)  YES       None
14                     date_created     datetime  YES       None
15                    date_modified     datetime  YES       None
16                         users_id      int(11)  YES  MUL  None
17         legal_opinion_background     longtext  YES       None
18         legal_opinion_legal_risk     longtext  YES       None
19    legal_opinion_additional_info     longtext  YES       None
20     legal_opinion_issue_comments     longtext  YES       None
21               legal_opinion_silo     longtext  YES       None
22  legal_opinion_petition_comments     longtext  YES       None
23           user_advice_correction      int(11)  YES       None
24            council_review_letter     longtext  YES       None
25                  writ_filed_date  varchar(45)  YES       None
26                      daily_fines  varchar(45)  YES       None
27             freezing_assets_date  varchar(45)  YES       None
28                  advice_approved      int(11)  YES       None
29            advice_pending_yes_no  varchar(45)  YES       None
30                  advice_pendency  varchar(45)  YES       None
31           advice_pendency_solved  varchar(45)  YES       None
32                      advice_sent      int(11)  YES       None
33                  petition_cat_id      int(11)  YES       None
34          petition_yes_no_pending  varchar(45)  YES       None
35          petition_no_explanation  varchar(45)  YES       None
36                    petition_body  varchar(45)  YES       None
37          petition_draft_prepared  varchar(45)  YES       None
38         petition_draft_corrected  varchar(45)  YES       None
39                   petition_field  varchar(45)  YES       None
40                   ms_draft_write   varchar(3)  YES         No
41                ms_draft_reviewed   varchar(3)  YES         No
42                         ms_filed   varchar(3)  YES         No
43                        status_ms  varchar(45)  YES       None
44                   date_status_ms     datetime  YES       None
45                      deadline_ms     datetime  YES       None
46                          ms_info     longtext  YES       None
47                  letter_reviewed  varchar(45)  YES       None
48        user_in_charge_production      int(11)  YES          0
49             production_completed  varchar(45)  YES       None
50                 production_ready  varchar(45)  YES       None
51                          monitor      int(11)  YES          0
52                  emissary_chosen      int(11)  YES       None
53                          closure  varchar(45)  YES       None

In [64]:
df_db_trix = cqdb.GetTable('Trix')

In [65]:
df_db_trix

,line_id,case_id,external_ref_number,deadline,date_received,date_received_cq,auth_last_name
0,35,,0009460-19.2013.403.6181,2014-02-28 00:00:00,2020-08-12,2020-08-12,None
1,36,6-9080000028545,0002618-91.2011.403.6181,2013-11-28 00:00:00,2020-08-12,2020-08-12,None
2,37,9-5821000001559,0007067-24.2013.403.6181,2013-10-22 00:00:00,2020-08-12,2020-08-12,None
3,38,5-6191000002205,,2013-11-22 00:00:00,2020-08-12,2020-08-12,None
4,39,9-9709000000828,0076690-72.2011.805.0001,2013-10-21 00:00:00,2020-08-12,2020-08-12,None
5,40,,0137528-90.2013.8.20.0001,2014-01-07 00:00:00,2020-08-12,2020-08-12,None
6,41,7-2587000000237,31820-28.2012.4.01.3500,2013-11-26 00:00:00,2020-08-12,2020-08-12,None
7,42,1-9094000002174,0001129-37.2012.8.20.0115,2013-11-27 00:00:00,2020-08-12,2020-08-12,None
8,43,6-3783000002820,12509-97.2013.811.0042,2014-03-05 00:00:00,2020-08-12,2020-08-12,None
9,44,3-4834000002843,5028182-54.2013.404.7000,2014-02-13 00:00:00,2020-08-12,2020-08-12,None
10,1,6-5526000027768,0000904-07.2019.8.17.0260,2020-06-29 21:03:12,0001-01-01 00:00:00,0001-01-01 00:00:00,None
11,2,6-3568000028259,0000457-52.2019.815.0461,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
12,3,8-3413000029888,5001783-17.2019.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
13,4,None,0000.234.999999,2020-02-12 00:00:00,2020-02-12 00:00:00,2020-02-12 00:00:00,None
14,5,0-9150000028251,TESTE 8 TESTE 8,0001-01-01 00:00:00,2020-06-07 00:00:00,0001-01-01 00:00:00,None
15,6,1-0673000027027,None,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
16,7,2-1862000028129,0004339-33.2019.8.26.0132,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-10-02 00:00:00,None
17,8,0-5710000029462,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-03-02 00:00:00,None
18,9,5-9393000028198,0010340-10.2014.8.26.0229,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
19,10,9-8948000030560,0051550-38.2019.8.19.0204,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-09-07 00:00:00,None
20,11,1-7881000030520,5038080-52.2017.4.04.7000,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-10-07 00:00:00,None
21,12,1-0852000030331,1000092-11.2020.4.01.4101,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-10 00:00:00,None
22,13,1-9233000030375,5003714-94.2019.4.03.6110,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-15 12:13:40,None
23,14,8-3068000030498,2306-90.2020.811.0055,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-16 00:00:00,None
24,15,1234,1234,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
25,16,12345,12345,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
26,17,7-2997000030648,5001970-34.2020.8.24.0024,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-17 00:00:00,None
27,18,7-0019000030664,593-92.2020.8.10.0060,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00,None
28,19,5-0605000031064,1734-45.2020.8.17.1130,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00,None
29,20,3-0966000030718,0001174-18.2020.8.22.0014,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
30,21,1-3390000030436,1502135-23.2020.8.26.0320,2020-11-08 00:00:00,2020-11-08 00:00:00,0001-01-01 00:00:00,None
31,22,8-7942000030479,1500234-11.2020.8.26.0614,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 21:43:53,None
32,23,7-2681000030980,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00,None
33,24,3-5757000030570,5001548-16.2020.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00,None
34,25,0-2618000030415,0811407-22.2020.4.05.8300,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-31 11:52:39,None
35,26,5-8286000030700,0000441-55.2020.8.04.5801,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,None
36,27,2-4486000030845,1503609-26.2020.8.26.0224,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-02 16:03:37,None
37,28,123456,123456,2020-08-11 00:00:00,2020-08-11 00:00:00,2020-08-11 00:00:00,None
38,29,4-4742000030569,0002169-22.2020.8.21.0026,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-11-08 00:00:00,None
39,30,8-3066000030637,0004636-64.2018.827.2713,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 20:46:22,None
40,31,3-3725000030286,None,0001-01-01 00:00:00,2020-11-08 00:00:00,2020-11-08 00:00:00,None
41,32,None,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-19 10:37:03,None
42,33,None,1011778-37.2018.4.01.3400,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-02-19 14:59:58,None
43,34,5-4295000030626,1502382-75.2020.8.26.0361,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 22:08:33,None

In [63]:
df_db_trix

,line_id,case_id,external_ref_number,deadline,date_received,date_received_cq
0,35,,0009460-19.2013.403.6181,2014-02-28 00:00:00,2020-08-12,2020-08-12
1,36,6-9080000028545,0002618-91.2011.403.6181,2013-11-28 00:00:00,2020-08-12,2020-08-12
2,37,9-5821000001559,0007067-24.2013.403.6181,2013-10-22 00:00:00,2020-08-12,2020-08-12
3,38,5-6191000002205,,2013-11-22 00:00:00,2020-08-12,2020-08-12
4,39,9-9709000000828,0076690-72.2011.805.0001,2013-10-21 00:00:00,2020-08-12,2020-08-12
5,40,,0137528-90.2013.8.20.0001,2014-01-07 00:00:00,2020-08-12,2020-08-12
6,41,7-2587000000237,31820-28.2012.4.01.3500,2013-11-26 00:00:00,2020-08-12,2020-08-12
7,42,1-9094000002174,0001129-37.2012.8.20.0115,2013-11-27 00:00:00,2020-08-12,2020-08-12
8,43,6-3783000002820,12509-97.2013.811.0042,2014-03-05 00:00:00,2020-08-12,2020-08-12
9,44,3-4834000002843,5028182-54.2013.404.7000,2014-02-13 00:00:00,2020-08-12,2020-08-12
10,1,6-5526000027768,0000904-07.2019.8.17.0260,2020-06-29 21:03:12,0001-01-01 00:00:00,0001-01-01 00:00:00
11,2,6-3568000028259,0000457-52.2019.815.0461,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
12,3,8-3413000029888,5001783-17.2019.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
13,4,None,0000.234.999999,2020-02-12 00:00:00,2020-02-12 00:00:00,2020-02-12 00:00:00
14,5,0-9150000028251,TESTE 8 TESTE 8,0001-01-01 00:00:00,2020-06-07 00:00:00,0001-01-01 00:00:00
15,6,1-0673000027027,None,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
16,7,2-1862000028129,0004339-33.2019.8.26.0132,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-10-02 00:00:00
17,8,0-5710000029462,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-03-02 00:00:00
18,9,5-9393000028198,0010340-10.2014.8.26.0229,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
19,10,9-8948000030560,0051550-38.2019.8.19.0204,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-09-07 00:00:00
20,11,1-7881000030520,5038080-52.2017.4.04.7000,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-10-07 00:00:00
21,12,1-0852000030331,1000092-11.2020.4.01.4101,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-10 00:00:00
22,13,1-9233000030375,5003714-94.2019.4.03.6110,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-15 12:13:40
23,14,8-3068000030498,2306-90.2020.811.0055,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-16 00:00:00
24,15,1234,1234,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
25,16,12345,12345,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
26,17,7-2997000030648,5001970-34.2020.8.24.0024,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-17 00:00:00
27,18,7-0019000030664,593-92.2020.8.10.0060,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00
28,19,5-0605000031064,1734-45.2020.8.17.1130,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00
29,20,3-0966000030718,0001174-18.2020.8.22.0014,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
30,21,1-3390000030436,1502135-23.2020.8.26.0320,2020-11-08 00:00:00,2020-11-08 00:00:00,0001-01-01 00:00:00
31,22,8-7942000030479,1500234-11.2020.8.26.0614,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 21:43:53
32,23,7-2681000030980,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00
33,24,3-5757000030570,5001548-16.2020.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00
34,25,0-2618000030415,0811407-22.2020.4.05.8300,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-31 11:52:39
35,26,5-8286000030700,0000441-55.2020.8.04.5801,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
36,27,2-4486000030845,1503609-26.2020.8.26.0224,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-02 16:03:37
37,28,123456,123456,2020-08-11 00:00:00,2020-08-11 00:00:00,2020-08-11 00:00:00
38,29,4-4742000030569,0002169-22.2020.8.21.0026,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-11-08 00:00:00
39,30,8-3066000030637,0004636-64.2018.827.2713,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 20:46:22
40,31,3-3725000030286,None,0001-01-01 00:00:00,2020-11-08 00:00:00,2020-11-08 00:00:00
41,32,None,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-19 10:37:03
42,33,None,1011778-37.2018.4.01.3400,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-02-19 14:59:58
43,34,5-4295000030626,1502382-75.2020.8.26.0361,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 22:08:33

In [58]:
df[:10]

,line_id,case_id,external_ref_number,deadline,date_received,date_received_cq
0,35,,0009460-19.2013.403.6181,2014-02-28 00:00:00,2020-08-12,2020-08-12
1,36,6-9080000028545,0002618-91.2011.403.6181,2013-11-28 00:00:00,2020-08-12,2020-08-12
2,37,9-5821000001559,0007067-24.2013.403.6181,2013-10-22 00:00:00,2020-08-12,2020-08-12
3,38,5-6191000002205,,2013-11-22 00:00:00,2020-08-12,2020-08-12
4,39,9-9709000000828,0076690-72.2011.805.0001,2013-10-21 00:00:00,2020-08-12,2020-08-12
5,40,,0137528-90.2013.8.20.0001,2014-01-07 00:00:00,2020-08-12,2020-08-12
6,41,7-2587000000237,31820-28.2012.4.01.3500,2013-11-26 00:00:00,2020-08-12,2020-08-12
7,42,1-9094000002174,0001129-37.2012.8.20.0115,2013-11-27 00:00:00,2020-08-12,2020-08-12
8,43,6-3783000002820,12509-97.2013.811.0042,2014-03-05 00:00:00,2020-08-12,2020-08-12
9,44,3-4834000002843,5028182-54.2013.404.7000,2014-02-13 00:00:00,2020-08-12,2020-08-12

In [59]:
df_db_trix2 = cqdb.InsertDB(df[:10],\
                            'Trix', key_column = '' , return_table = True, append_table = False)

Original length: 10
Final length: 44
Success! Data writtten in db!

In [62]:
df_db_trix2[0]

,line_id,case_id,external_ref_number,deadline,date_received,date_received_cq
0,35,,0009460-19.2013.403.6181,2014-02-28 00:00:00,2020-08-12,2020-08-12
1,36,6-9080000028545,0002618-91.2011.403.6181,2013-11-28 00:00:00,2020-08-12,2020-08-12
2,37,9-5821000001559,0007067-24.2013.403.6181,2013-10-22 00:00:00,2020-08-12,2020-08-12
3,38,5-6191000002205,,2013-11-22 00:00:00,2020-08-12,2020-08-12
4,39,9-9709000000828,0076690-72.2011.805.0001,2013-10-21 00:00:00,2020-08-12,2020-08-12
5,40,,0137528-90.2013.8.20.0001,2014-01-07 00:00:00,2020-08-12,2020-08-12
6,41,7-2587000000237,31820-28.2012.4.01.3500,2013-11-26 00:00:00,2020-08-12,2020-08-12
7,42,1-9094000002174,0001129-37.2012.8.20.0115,2013-11-27 00:00:00,2020-08-12,2020-08-12
8,43,6-3783000002820,12509-97.2013.811.0042,2014-03-05 00:00:00,2020-08-12,2020-08-12
9,44,3-4834000002843,5028182-54.2013.404.7000,2014-02-13 00:00:00,2020-08-12,2020-08-12
10,1,6-5526000027768,0000904-07.2019.8.17.0260,2020-06-29 21:03:12,0001-01-01 00:00:00,0001-01-01 00:00:00
11,2,6-3568000028259,0000457-52.2019.815.0461,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
12,3,8-3413000029888,5001783-17.2019.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
13,4,None,0000.234.999999,2020-02-12 00:00:00,2020-02-12 00:00:00,2020-02-12 00:00:00
14,5,0-9150000028251,TESTE 8 TESTE 8,0001-01-01 00:00:00,2020-06-07 00:00:00,0001-01-01 00:00:00
15,6,1-0673000027027,None,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
16,7,2-1862000028129,0004339-33.2019.8.26.0132,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-10-02 00:00:00
17,8,0-5710000029462,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-03-02 00:00:00
18,9,5-9393000028198,0010340-10.2014.8.26.0229,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
19,10,9-8948000030560,0051550-38.2019.8.19.0204,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-09-07 00:00:00
20,11,1-7881000030520,5038080-52.2017.4.04.7000,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-10-07 00:00:00
21,12,1-0852000030331,1000092-11.2020.4.01.4101,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-10 00:00:00
22,13,1-9233000030375,5003714-94.2019.4.03.6110,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-15 12:13:40
23,14,8-3068000030498,2306-90.2020.811.0055,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-16 00:00:00
24,15,1234,1234,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
25,16,12345,12345,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
26,17,7-2997000030648,5001970-34.2020.8.24.0024,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-17 00:00:00
27,18,7-0019000030664,593-92.2020.8.10.0060,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00
28,19,5-0605000031064,1734-45.2020.8.17.1130,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 00:00:00
29,20,3-0966000030718,0001174-18.2020.8.22.0014,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
30,21,1-3390000030436,1502135-23.2020.8.26.0320,2020-11-08 00:00:00,2020-11-08 00:00:00,0001-01-01 00:00:00
31,22,8-7942000030479,1500234-11.2020.8.26.0614,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-23 21:43:53
32,23,7-2681000030980,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00
33,24,3-5757000030570,5001548-16.2020.8.24.0006,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-29 00:00:00
34,25,0-2618000030415,0811407-22.2020.4.05.8300,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-07-31 11:52:39
35,26,5-8286000030700,0000441-55.2020.8.04.5801,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00
36,27,2-4486000030845,1503609-26.2020.8.26.0224,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-02 16:03:37
37,28,123456,123456,2020-08-11 00:00:00,2020-08-11 00:00:00,2020-08-11 00:00:00
38,29,4-4742000030569,0002169-22.2020.8.21.0026,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-11-08 00:00:00
39,30,8-3066000030637,0004636-64.2018.827.2713,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 20:46:22
40,31,3-3725000030286,None,0001-01-01 00:00:00,2020-11-08 00:00:00,2020-11-08 00:00:00
41,32,None,None,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-19 10:37:03
42,33,None,1011778-37.2018.4.01.3400,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-02-19 14:59:58
43,34,5-4295000030626,1502382-75.2020.8.26.0361,0001-01-01 00:00:00,0001-01-01 00:00:00,2020-08-11 22:08:33

In [69]:
cqdb.TablesDataType('Trix')

                                  0            1    2    3     4 5
0                           line_id      int(11)   NO  PRI  None
1                           case_id         text  YES       None
2               external_ref_number         text  YES       None
3                          deadline         text  YES       None
4                     date_received         text  YES       None
5                  date_received_cq         text  YES       None
6                    auth_last_name     longtext  YES       None
7                         info_case     longtext  YES       None
8                      case_country     longtext  YES       None
9                    email_response     longtext  YES       None
10                           status     longtext  YES       None
11                          targets     longtext  YES       None
12                             lers     longtext  YES       None
13                            label      int(11)  YES       None
14                     date_created     datetime  YES       None
15                    date_modified     datetime  YES       None
16                         users_id      int(11)  YES  MUL  None
17         legal_opinion_background     longtext  YES       None
18         legal_opinion_legal_risk     longtext  YES       None
19    legal_opinion_additional_info     longtext  YES       None
20     legal_opinion_issue_comments     longtext  YES       None
21               legal_opinion_silo     longtext  YES       None
22  legal_opinion_petition_comments     longtext  YES       None
23           user_advice_correction      int(11)  YES       None
24            council_review_letter     longtext  YES       None
25                  writ_filed_date  varchar(45)  YES       None
26                      daily_fines  varchar(45)  YES       None
27             freezing_assets_date  varchar(45)  YES       None
28                  advice_approved      int(11)  YES       None
29            advice_pending_yes_no  varchar(45)  YES       None
30                  advice_pendency  varchar(45)  YES       None
31           advice_pendency_solved  varchar(45)  YES       None
32                      advice_sent      int(11)  YES       None
33                  petition_cat_id      int(11)  YES       None
34          petition_yes_no_pending  varchar(45)  YES       None
35          petition_no_explanation  varchar(45)  YES       None
36                    petition_body  varchar(45)  YES       None
37          petition_draft_prepared  varchar(45)  YES       None
38         petition_draft_corrected  varchar(45)  YES       None
39                   petition_field  varchar(45)  YES       None
40                   ms_draft_write   varchar(3)  YES       None
41                ms_draft_reviewed   varchar(3)  YES       None
42                         ms_filed   varchar(3)  YES       None
43                        status_ms  varchar(45)  YES       None
44                   date_status_ms     datetime  YES       None
45                      deadline_ms     datetime  YES       None
46                          ms_info     longtext  YES       None
47                  letter_reviewed  varchar(45)  YES       None
48        user_in_charge_production      int(11)  YES       None
49             production_completed  varchar(45)  YES       None
50                 production_ready  varchar(45)  YES       None
51                          monitor      int(11)  YES       None
52                  emissary_chosen      int(11)  YES       None
53                          closure  varchar(45)  YES       None