In [1]:
import mysql.connector
from mysql.connector import Error
from pandas.io import sql
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="quito2020"
)

mycursor = mydb.cursor()

In [3]:
mycursor.execute("SHOW DATABASES")

db_list = []
for x in mycursor:
    print(x[0])
    db_list.append(x[0])

information_schema
brspcqadev
mysql
performance_schema
screening_python_test
sys

In [4]:
database_name = 'brspcqadev'
if database_name not in db_list:
    ## creates a database
    mycursor.execute("CREATE DATABASE {}".format(database_name))
    
    mydb.commit()    
    
    
else:
    print('DB already exists')

DB already exists

In [5]:
mycursor.execute("SHOW DATABASES")

db_list = []
for x in mycursor:
    print(x[0])
    db_list.append(x[0])

information_schema
brspcqadev
mysql
performance_schema
screening_python_test
sys

In [6]:
# create sqlalchemy engine
engine = create_engine("mysql://{user}:{pw}@localhost/{db}?charset=utf8mb4"
                       .format(user="root",
                               pw="quito2020",
                               db=database_name), encoding="utf8")

In [7]:
mycursor.execute('USE {}'.format(database_name))
#mycursor.execute("ALTER DATABASE {} CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci".format(database_name))

In [8]:
## delete table
#delete_table_query = "DROP TABLE screening_table"
#mycursor.execute(delete_table_query)

In [9]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Notifications_log',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Users',
 'Users_status']

In [10]:
newtables_list = ['relation_case_main', 'relation_case_ext', 'relation_case_thread',\
               'relation_ext_main', 'relation_ext_case', 'relation_ext_thread',\
               'relation_trix_ext', 'relation_trix_case']

In [11]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list


for item in newtables_list:
    if item not in tables_list and item == 'relation_case_main':
        table = """
             CREATE TABLE IF NOT EXISTS relation_case_main(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             case_id varchar(300) NOT NULL,
             main_id int(11) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')
        
        
    elif item not in tables_list and item == 'relation_case_ext':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_case_ext(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             case_id varchar(300) NOT NULL,
             external_ref_number varchar(300) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')
        
    elif item not in tables_list and item == 'relation_case_thread':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_case_thread(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             case_id varchar(300) NOT NULL,
             thread_id varchar(300) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')        

        
    elif item not in tables_list and item == 'relation_ext_main':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_ext_main(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             external_ref_number varchar(300) NOT NULL,
             main_id int(11) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')        
        
    elif item not in tables_list and item == 'relation_ext_case':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_ext_case(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             external_ref_number varchar(300) NOT NULL,
             case_id varchar(300) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')

    elif item not in tables_list and item == 'relation_ext_thread':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_ext_thread(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             external_ref_number varchar(300) NOT NULL,
             thread_id varchar(300) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')
        
    elif item not in tables_list and item == 'relation_trix_ext':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_trix_ext(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             line_id int(11) NOT NULL,
             external_ref_number varchar(300) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')  
        
        
    elif item not in tables_list and item == 'relation_trix_case':
        
        table = """
             CREATE TABLE IF NOT EXISTS relation_trix_case(
             item_id int(11) NOT NULL AUTO_INCREMENT,
             line_id int(11) NOT NULL,
             case_id varchar(300) NOT NULL,
             date_created timestamp NOT NULL,
             date_updated timestamp default current_timestamp on update current_timestamp,
             PRIMARY KEY (item_id))
        """

        mycursor.execute(table)

        mydb.commit()
        print('Table created!')          
        
        
        
    else:
        print('Table already exists!')

Table created!
Table created!
Table created!
Table created!
Table created!
Table created!
Table created!
Table created!

In [12]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Notifications_log',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Users',
 'Users_status',
 'relation_case_ext',
 'relation_case_main',
 'relation_case_thread',
 'relation_ext_case',
 'relation_ext_main',
 'relation_ext_thread',
 'relation_trix_case',
 'relation_trix_ext']

In [13]:
#for item in newtables_list:
#    print(item)
#    mycursor.execute('ALTER TABLE {} CONVERT TO CHARACTER SET utf8mb4'.format(item))
#    mydb.commit()

relation_case_main
relation_case_ext
relation_case_thread
relation_ext_main
relation_ext_case
relation_ext_thread
relation_trix_ext
relation_trix_case

In [14]:
## alter encoding
#mycursor.execute('ALTER TABLE Attachment CONVERT TO CHARACTER SET utf8mb4')
#mydb.commit()

#mycursor.execute('ALTER TABLE Screening CONVERT TO CHARACTER SET utf8mb4')
#mydb.commit()

In [15]:
## increasing VARCHAR:
#mycursor.execute('ALTER TABLE Attachment MODIFY COLUMN doc_link varchar(500)')
#mydb.commit()

In [16]:
## increasing VARCHAR:
#mycursor.execute('ALTER TABLE Attachment MODIFY COLUMN doc_name varchar(500)')
#mydb.commit()

In [14]:
newtables_list

['relation_case_main',
 'relation_case_ext',
 'relation_case_thread',
 'relation_ext_main',
 'relation_ext_case',
 'relation_ext_thread',
 'relation_trix_ext',
 'relation_trix_case']

In [15]:
mycursor.execute("SHOW COLUMNS FROM relation_case_thread")
columns_list = mycursor.fetchall()
columns_list = [item[0] for item in columns_list]
print(columns_list)

['item_id', 'case_id', 'thread_id', 'date_created', 'date_updated']