In [1]:
import mysql.connector
from mysql.connector import Error
from pandas.io import sql
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="quito2020"
)

mycursor = mydb.cursor()

In [3]:
mycursor.execute("SHOW DATABASES")

db_list = []
for x in mycursor:
    print(x[0])
    db_list.append(x[0])

information_schema
brspcqadev
mysql
performance_schema
screening_python_test
sys

In [5]:
database_name = 'brspcqadev'
if database_name not in db_list:
    ## creates a database
    mycursor.execute("CREATE DATABASE {}".format(database_name))
    
    mydb.commit()    
    
    
else:
    print('DB already exists')

DB already exists

In [6]:
mycursor.execute("SHOW DATABASES")

db_list = []
for x in mycursor:
    print(x[0])
    db_list.append(x[0])

information_schema
brspcqadev
mysql
performance_schema
screening_python_test
sys

In [7]:
# create sqlalchemy engine
engine = create_engine("mysql://{user}:{pw}@localhost/{db}?charset=utf8mb4"
                       .format(user="root",
                               pw="quito2020",
                               db=database_name), encoding="utf8")

In [8]:
mycursor.execute('USE {}'.format(database_name))
#mycursor.execute("ALTER DATABASE {} CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci".format(database_name))

In [9]:
## delete table
#delete_table_query = "DROP TABLE screening_table"
#mycursor.execute(delete_table_query)

In [10]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Notifications_log',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Trix_1',
 'Trix_empty',
 'Users',
 'Users_status',
 'relation_case_ext',
 'relation_case_main',
 'relation_case_thread',
 'relation_ext_case',
 'relation_ext_main',
 'relation_ext_thread',
 'relation_trix_case',
 'relation_trix_ext']

In [10]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

if 'Attachment' not in tables_list:
    table = """
         CREATE TABLE IF NOT EXISTS Attachment(
         attachment_id int(11) NOT NULL AUTO_INCREMENT,
         main_id int(11) NOT NULL,
         doc_name varchar(300) NOT NULL,
         doc_link varchar(100) NOT NULL,
         date_created timestamp NOT NULL,
         date_updated timestamp default current_timestamp on update current_timestamp,
         PRIMARY KEY (attachment_id),
         FOREIGN KEY (main_id) REFERENCES Screening (main_id))
    """

    mycursor.execute(table)

    mydb.commit()
    print('Table created!')
    
else:
    print('Table already exists!')

Table already exists!

In [11]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Users',
 'Users_status']

In [14]:
## alter encoding
mycursor.execute('ALTER TABLE Attachment CONVERT TO CHARACTER SET utf8mb4')
mydb.commit()

mycursor.execute('ALTER TABLE Screening CONVERT TO CHARACTER SET utf8mb4')
mydb.commit()

In [15]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Attachment MODIFY COLUMN doc_link varchar(500)')
mydb.commit()

In [16]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Attachment MODIFY COLUMN doc_name varchar(500)')
mydb.commit()

In [13]:
mycursor.execute("SHOW COLUMNS FROM Attachment")
columns_list = mycursor.fetchall()
columns_list = [item[0] for item in columns_list]
print(columns_list)

['attachment_id', 'main_id', 'doc_name', 'doc_link', 'date_created', 'date_updated']

### Trix

In [10]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN auth_last_name longtext')
mydb.commit()

In [11]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN info_case longtext')
mydb.commit()

In [12]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN case_country longtext')
mydb.commit()

In [13]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN email_response longtext')
mydb.commit()

In [14]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN status longtext')
mydb.commit()

In [15]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN targets longtext')
mydb.commit()

In [16]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN lers longtext')
mydb.commit()

In [17]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN label int(11)')
mydb.commit()

In [18]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN date_created timestamp NOT NULL')
mydb.commit()

In [19]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN date_updated timestamp default current_timestamp on update current_timestamp')
mydb.commit()

In [21]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN users_id int(11)')
mydb.commit()

In [22]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix MODIFY COLUMN users_id int(11), add key(users_id)')
mydb.commit()

In [61]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix MODIFY COLUMN line_id int(11) NOT NULL, add PRIMARY KEY(line_id)')
mydb.commit()

In [12]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix MODIFY COLUMN line_id int(11) NOT NULL AUTO_INCREMENT')
mydb.commit()

In [23]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN legal_opinion_background longtext')
mydb.commit()

In [24]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN legal_opinion_legal_risk longtext')
mydb.commit()

In [25]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN legal_opinion_additional_info longtext')
mydb.commit()

In [26]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN legal_opinion_issue_comments longtext')
mydb.commit()

In [27]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN legal_opinion_silo longtext')
mydb.commit()

In [28]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN legal_opinion_petition_comments longtext')
mydb.commit()

In [29]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN user_advice_correction int(11)')
mydb.commit()

In [30]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN council_review_letter longtext')
mydb.commit()

In [31]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN writ_filed_date varchar(45)')
mydb.commit()

In [32]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN daily_fines varchar(45)')
mydb.commit()

In [33]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN freezing_assets_date varchar(45)')
mydb.commit()

In [34]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN advice_approved int(11)')
mydb.commit()

In [35]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN advice_pending_yes_no varchar(45)')
mydb.commit()

In [36]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN advice_pendency varchar(45)')
mydb.commit()

In [37]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN advice_pendency_solved varchar(45)')
mydb.commit()

In [39]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN advice_sent int(11)')
mydb.commit()

In [40]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_cat_id int(11)')
mydb.commit()

In [41]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_yes_no_pending varchar(45)')
mydb.commit()

In [42]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_no_explanation varchar(45)')
mydb.commit()

In [43]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_body varchar(45)')
mydb.commit()

In [44]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_draft_prepared varchar(45)')
mydb.commit()

In [45]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_draft_corrected varchar(45)')
mydb.commit()

In [46]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN petition_field varchar(45)')
mydb.commit()

In [47]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN ms_draft_write varchar(3)')
mydb.commit()

In [48]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN ms_draft_reviewed varchar(3)')
mydb.commit()

In [49]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN ms_filed varchar(3)')
mydb.commit()

In [50]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN status_ms varchar(45)')
mydb.commit()

In [51]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN date_status_ms datetime')
mydb.commit()

In [52]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN deadline_ms datetime')
mydb.commit()

In [53]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN ms_info longtext')
mydb.commit()

In [54]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN letter_reviewed varchar(45)')
mydb.commit()

In [55]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN user_in_charge_production int(11)')
mydb.commit()

In [56]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN production_completed varchar(45)')
mydb.commit()

In [57]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN production_ready varchar(45)')
mydb.commit()

In [58]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN monitor int(11)')
mydb.commit()

In [59]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN emissary_chosen int(11)')
mydb.commit()

In [60]:
## increasing VARCHAR:
mycursor.execute('ALTER TABLE Trix ADD COLUMN closure varchar(45)')
mydb.commit()