In [3]:
import mysql.connector
from mysql.connector import Error
from pandas.io import sql
import pandas as pd
import os
from sqlalchemy import create_engine

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="quito2020"
)

mycursor = mydb.cursor()

In [5]:
mycursor.execute("SHOW DATABASES")

db_list = []
for x in mycursor:
    print(x[0])
    db_list.append(x[0])

information_schema
brspcqadev
mysql
performance_schema
screening_python_test
sys

In [6]:
database_name = 'brspcqadev'
if database_name not in db_list:
    ## creates a database
    mycursor.execute("CREATE DATABASE {}".format(database_name))
    
    mydb.commit()    
    
    
else:
    print('DB already exists')

DB already exists

In [7]:
mycursor.execute("SHOW DATABASES")

db_list = []
for x in mycursor:
    print(x[0])
    db_list.append(x[0])

information_schema
brspcqadev
mysql
performance_schema
screening_python_test
sys

In [8]:
# create sqlalchemy engine
engine = create_engine("mysql://{user}:{pw}@localhost/{db}?charset=utf8mb4"
                       .format(user="root",
                               pw="quito2020",
                               db=database_name), encoding="utf8")

In [9]:
mycursor.execute('USE {}'.format(database_name))
#mycursor.execute("ALTER DATABASE {} CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci".format(database_name))

In [10]:
## delete table
#delete_table_query = "DROP TABLE screening_table"
#mycursor.execute(delete_table_query)

In [11]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Notifications_log',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Trix_1',
 'Users',
 'Users_status',
 'relation_case_ext',
 'relation_case_main',
 'relation_case_thread',
 'relation_ext_case',
 'relation_ext_main',
 'relation_ext_thread',
 'relation_trix_case',
 'relation_trix_ext']

In [10]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

if 'Attachment' not in tables_list:
    table = """
         CREATE TABLE IF NOT EXISTS Attachment(
         attachment_id int(11) NOT NULL AUTO_INCREMENT,
         main_id int(11) NOT NULL,
         doc_name varchar(300) NOT NULL,
         doc_link varchar(100) NOT NULL,
         date_created timestamp NOT NULL,
         date_updated timestamp default current_timestamp on update current_timestamp,
         PRIMARY KEY (attachment_id),
         FOREIGN KEY (main_id) REFERENCES Screening (main_id))
    """

    mycursor.execute(table)

    mydb.commit()
    print('Table created!')
    
else:
    print('Table already exists!')

Table already exists!

In [11]:
mycursor.execute("SHOW TABLES")
tables_list = mycursor.fetchall()
tables_list = [item[0] for item in tables_list]
tables_list

['Access_level',
 'Address',
 'Attachment',
 'Bancos',
 'Delivery_Check',
 'Emissary',
 'Emissary_Status',
 'IP_block',
 'Label',
 'Monitoring',
 'Rating',
 'Role',
 'Screening',
 'Trix',
 'Users',
 'Users_status']

In [20]:
query = 'SELECT * FROM Users where users_id =16'

In [21]:
mycursor.execute(query)

In [22]:
myresult = mycursor.fetchall()

In [23]:
myresult

[(16,
  'Carina',
  'Quito',
  None,
  None,
  None,
  None,
  None,
  None,
  '123',
  1,
  1,
  1,
  1,
  1)]

In [24]:
query = 'DELETE FROM Users where users_id =16'

In [25]:
mycursor.execute(query)

In [26]:
mydb.commit()